<ng-container *ngIf="{shape:shape$|async } as data">

<div class="scene" #scene>
<ng-container *ngIf="data.shape === 'card'">
<div class="card" (click)="onCardClick()" #card>
    <div class="face card--face--front">
        <ng-container *ngTemplateOutlet="frontfaceTemplate? frontfaceTemplate :defaultFaceTemplate"></ng-container>
    </div>
    <div class="face card--face--back">
        <ng-container *ngTemplateOutlet="backfaceTemplate ? backfaceTemplate :defaultFaceTemplate"></ng-container>
    </div>
</div>
</ng-container>

<!-- <div class="cube" (click)="onCubeClick()" #cube>
    
    <div class="cube-face cube--face--front">
        <ng-container *ngTemplateOutlet="frontfaceTemplate? frontfaceTemplate :defaultFaceTemplate"></ng-container>
    </div>
    <div class="cube-face cube--face--back">
        back
    </div>
 
</div> -->
</div>
</ng-container>

<ng-template #defaultFaceTemplate>
    <div [ngStyle]="{'background':'#21d548'}">
        front
    </div>
</ng-template>