
:host{
    --rotate-y-val:0deg;
    --face-size:0px;
    %threed-view-holder{
      height:100%;
      width: 100%; 
      position: relative;
      transform-style: preserve-3d;
      transition: transform 1s;
    }
    
    .scene{
      
      height:100%;
      width: 100%; 
      perspective: 400px;
      // margin-top: 50px; // to avoid 3d from overflowing outside
      
      .face{
        height:100%;
        width: 100%; 
        border: 1px solid #000;
        position: absolute;
        color: #ffff;
        backface-visibility: hidden;
      }
    
        
    .card{
      @extend %threed-view-holder;
      transform: rotateY(var(--rotate-y-val));


        .card--face--front {
          transform: rotate(0); // just for understanding 
        }  
      
        .card--face--back {
          transform: rotateY(180deg);
        } 
    }

    .prism{
      @extend %threed-view-holder;
      transform: rotateY(var(--rotate-y-val));
      .prism--face--front {
        transform: rotate(0)  translateZ(calc(var(--face-size)*0.288));// just for understanding 
      }  
      .prism--face--left {
        transform: rotateY(120deg) translateZ(calc(var(--face-size)*0.288));
      } 
      .prism--face--right{
        transform: rotateY(-120deg) translateZ(calc(var(--face-size)*0.288));
      }
    }


    .cube{
      @extend %threed-view-holder;
    }
    
  }


// .cube--face--front {
//     // transform: rotate(0);
//   }  

// .cube--face--back {
//     background: black;
//     transform: rotateY(180deg);
//   } 
//   .left {
//     background: green;
//     transform: rotateY(-90deg) translate3d(0, 0, $size/2);
//   } 
//   .right {
//     background: magenta;
//     transform: rotateY(90deg) translate3d(0, 0, $size/2);
//   } 
//   .top {
//     background: blue;
//     transform: rotateX(90deg) translate3d(0, 0, $size/2);
//   } 
//   .bottom {
//     background: red;
//     transform: rotateX(-90deg) translate3d(0, 0, $size/2);
//   }  
}

