<!-- <div class="container">
<div class="about section">
  <div class="person-info">
  <div class="icon">
    an icon appears
  </div>
  <div class="name">
    Divye marwah
  </div>
  <three-d-view [faces]="faces"></three-d-view>
  </div>
</div>
<div class="my-works section">
  Here i say about my work
<div class="filler"></div>
</div>
<div class="footer section">
  Here i say about footer
</div>
</div> -->
<button [disabled]="buttonDisabled" (click)="swipeLeft()">left</button>
<button [disabled]="buttonDisabled" (click)="swipeRight()">right</button>
<button [disabled]="buttonDisabled" (click)="swipeTop()">top</button>
<button [disabled]="buttonDisabled" (click)="swipeBottom()">bottom</button>

<div class="centered content">
 
  <three-d-view [size]="100" id="card" [defaultCardColor]="'#34c0eb'">
    <ng-template  front>
      <div [ngStyle]="{'height':'100%','background':'blue'}">
        front
      </div>
    </ng-template>
    <ng-template >
      
    </ng-template>
  </three-d-view>
  <three-d-view [size]="100" id="prism">
    <ng-template  front>
      <div [ngStyle]="{'height':'100%','background':'blue'}">
        front
      </div>
    </ng-template>
    <ng-template left>
      <div [ngStyle]="{'height':'100%','background':'green'}">
        left
      </div>
    </ng-template>
    <ng-template right>
      <div [ngStyle]="{'height':'100%','background':'red'}">
        right
      </div>
    </ng-template>
  </three-d-view>
  <three-d-view [size]="100" id="cube">
    <ng-template  front>
      <div [ngStyle]="{'height':'100%','background':'blue'}">
        front
      </div>
    </ng-template>
    <ng-template back>
      <div [ngStyle]="{'height':'100%','background':'orange'}">
        back
      </div>
    </ng-template>
    <ng-template top>
      <div [ngStyle]="{'height':'100%','background':'grey'}">
        top
      </div>
    </ng-template>
    <ng-template bottom>
      <div [ngStyle]="{'height':'100%','background':'blue'}">
        bottom
      </div>
    </ng-template>
    <ng-template default>
      <div [ngStyle]="{'height':'100%','background':'red'}">
        default
      </div>
    </ng-template>
  </three-d-view>
</div>

