<!-- <div class="container">
<div class="about section">
  <div class="person-info">
  <div class="icon">
    an icon appears
  </div>
  <div class="name">
    Divye marwah
  </div>
  <ng-sure-cube [faces]="faces"></ng-sure-cube>
  </div>
</div>
<div class="my-works section">
  Here i say about my work
<div class="filler"></div>
</div>
<div class="footer section">
  Here i say about footer
</div>
</div> -->
<button (click)="swipeLeft()">left</button>
<button (click)="swipeRight()">right</button>
<div class="centered content">
 
  <ng-sure-cube [height]="100" [width]="100">
    <ng-template  front>
      <div [ngStyle]="{'height':'100%','background':'blue'}">
        front
      </div>
    </ng-template>
    <ng-template back>
      <div [ngStyle]="{'height':'100%','background':'green'}">
        back
      </div>
    </ng-template>
  </ng-sure-cube>
</div>

